body {
	background-color: #FFFFFF;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: none;
}

table {
	border-spacing: 0;
}

#menu_body {	
	position: sticky;
	z-index: 2;
	width: 100%;
	top: 0;
}

#menu {
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	width: 100%;
}

#container {
	background-color: #FFFFFF;
	position: relative;
	opacity: 0.8;
	display: inline-block;
	text-align: left;
}

#container2 {
	background-color: #FFFFFF;
	position: relative;
	opacity: 0.8;
	display: inline-block;
}

#container_text {
	position: relative;
}

.name_container {
	vertical-align: top;
}

#footer {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	bottom: 0;
}

#footer_box {
	position: relative;
}

#main_frame {	
	text-align: center;
}