{% extends "head.html" %}
{% block frame %}
<div id="container">
	<div class="content">
		<br>
		<div class="title">{{classnum}}</div>
		<br>
		<div class="text">
			<table>
				<td class="name_container">
				{% for i in list1 %}
					<div class="name">{{i}}</div>
				{% endfor %}
				</td>
				<td class="name_container">
				{% for i in list2 %}
					<div class="name">{{i}}</div>
				{% endfor %}
				</td>
				<td class="name_container">
				{% for i in list3 %}
					<div class="name">{{i}}</div>
				{% endfor %}
				</td>
			</table>
		</div>
		<br>
	</div>
	<div class="content">
		<br>
		<div class="title">{{classnum}}</div>
		<br>
		<div class="text">
		{% for i in list1 %}
			<div class="name">{{i}}</div>
		{% endfor %}
		{% for i in list2 %}
			<div class="name">{{i}}</div>
		{% endfor %}
		{% for i in list3 %}
			<div class="name">{{i}}</div>
		{% endfor %}
		</div>
		<br>
	</div>
</div>
<br>
<footer id="footer">
	<div id="footer_box">
		<div class="footer_text">Created by Spartan101 in 2019 - More updates to the design and code will be happening. Hopefully.</div>
		<div class="footer_text">Version {{v}}</div>
	</div>
</footer>
{% endblock frame %}