{% extends "head.html" %}
{% block frame %}
<div id="container">
	<div class="content">
		<br>
		<p class="title">Kelas {{classnum}}</p>
		<br>
		<div class="text">
			<table>
				<td class="name_container">
				{% for i in list1 %}
					<p class="name">{{i}}</p>
				{% endfor %}
				</td>
				<td class="name_container">
				{% for i in list2 %}
					<p class="name">{{i}}</p>
				{% endfor %}
				</td>
				<td class="name_container">
				{% for i in list3 %}
					<p class="name">{{i}}</p>
				{% endfor %}
				</td>
			</table>
		</div>
		<br>
	</div>
	<div class="content">
		<br>
		<p class="title">Kelas {{classnum}}</p>
		<br>
		<div class="text">
		{% for i in list1 %}
			<p class="name">{{i}}</p>
		{% endfor %}
		{% for i in list2 %}
			<p class="name">{{i}}</p>
		{% endfor %}
		{% for i in list3 %}
			<p class="name">{{i}}</p>
		{% endfor %}
		</div>
		<br>
	</div>
</div>
<br>
<footer id="footer">
	<p class="footer_text">Created by Spartan101 in 2019 - More updates to the design and code will be happening. Hopefully.</p>
</footer>
{% endblock frame %}