{% load static %}
<!doctype html>
<html>
	<head>
		<title>IF 2018 DB</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="menu_body">
			<table id="menu">
				<tr>
					<td class="menu_box" id="home">
						Home
					</td>
					<td class="menu_box" id="all">
						All
					</td>
					<td class="menu_box" id="k1">
						Kelas 1
					</td>
					<td class="menu_box" id="k2">
						Kelas 2
					</td>
					<td class="menu_box" id="k3">
						Kelas 3
					</td>
					<td class="menu_box" id="k4">
						STI
					</td>
				</tr>
			</table>
		</div>
		<div id="main_frame">
			{% block frame %}
			{% endblock frame %}
		</div>
		
	</body>
	<script src="{% static "js/menu.js" %}"></script>
	<script src="{% static "js/map.js" %}"></script>
	<script>
	h = screen.height;
	w = screen.width;
	if (h > w) {
		document.body.style.backgroundColor = "#00AAAA";
	} else {
		document.body.style.backgroundImage = "url({% static "imgs/pic.jpg" %})";
		document.body.style.backgroundSize = w/h*100 + "% 200%";
		document.body.style.backgroundPosition = "center";
		
	}
	</script>
</html>