{% load static %}
<!doctype html>
<html>
	<head>
		<title>IF 2018 DB</title>
		<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="menu_body">
			<table id="menu">
				<tr>
					<td id="home">
						Home
					</td>
					<td id="all">
						All
					</td>
					<td id="k1">
						Kelas 1
					</td>
					<td id="k2">
						Kelas 2
					</td>
					<td id="k3">
						Kelas 3
					</td>
				</tr>
			</table>
		</div>
		<div id="main_frame">
			{% block frame %}
			{% endblock frame %}
		</div>
		
	</body>
	<script>
		function toggle(x) { document.getElementById(x).onmouseover = function(){ document.getElementById(x).style.backgroundColor = "#555555"; }; document.getElementById(x).onmouseleave = function(){ document.getElementById(x).style.backgroundColor = "#000000"; }; };
		
		toggle("home");
		toggle("all");
		toggle("k1");
		toggle("k2");
		toggle("k3");
		document.getElementById("home").onclick = function(){ location.assign("/"); };
		document.getElementById("all").onclick = function(){ location.assign("/k/0"); };
		document.getElementById("k1").onclick = function(){ location.assign("/k/1"); };
		document.getElementById("k2").onclick = function(){ location.assign("/k/2"); };
		document.getElementById("k3").onclick = function(){ location.assign("/k/3"); };
	</script>
</html>