{% load static %}
<!doctype html>
<html>
	<head>
		<title>IF 2018 DB</title>
		<link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="menu_body">
			<table id="menu">
				<tr>
					<td class="menu_box" id="home">
						Home
					</td>
					<td class="menu_box" id="all">
						All
					</td>
					<td class="menu_box" id="k1">
						Kelas 1
					</td>
					<td class="menu_box" id="k2">
						Kelas 2
					</td>
					<td class="menu_box" id="k3">
						Kelas 3
					</td>
					<td class="menu_box" id="k4">
						STI
					</td>
				</tr>
			</table>
		</div>
		<div id="main_frame">
			{% block frame %}
			{% endblock frame %}
		</div>
		
	</body>
	<script src="{% static "js/menu.js" %}"></script>
	<script src="{% static "js/map.js" %}"></script>
	<script>
	if (window.innerHeight > window.innerWidth) {
		document.body.style.backgroundImage = "url({% static "imgs/pic2.jpg" %})";
		document.body.style.backgroundSize = "0 cover";
	}
	</script>
</html>